
<div class="column is-half">
    <% if user_signed_in? %>
    <article class="media box"> 
        <figure class="media-left"> 
            <p class="image is-64x64"> 
                <%= gravatar_image_tag(current_user.email, size: 64, alt: current_user.name)%>
            </p>
        </figure>
        <div class="media-content">
            <%= render 'tweets/form' %>
        </div>    
    </article>
    <%end%>

    
<% (@tweets.order(created_at: :desc)).each do | tweet | %>
    <div class="box"> 
        <article class="media"> 
            <div class="media-left">
                <figure class="image is-64x64">
                    <%=  gravatar_image_tag(tweet.user.email, size: 64, alt: tweet.user.name)%>
                </figure>
            </div>
            <div class="media-content">
                <div class="content">
                   
                    <strong><%= tweet.user.name %> </strong><br />
                    <small><%= tweet.user.username %></small><br/>
                    <h6><%= tweet.tweet %> </p>
                     <% if tweet.retweet_id != nil  %>
                        <%= render 'retweet', tweet: tweet%>
                    <% end %>
        
                </div>
                <% if user_signed_in? %>
                <nav class="level">
                    <div class="level-left is-mobile"> 
                        <%= link_to tweet_path(tweet) do %>
                               <small> hace </small>
                             <%= tweet.time_since_publish %>
                        <% end %>

                        <%if tweet.user.email == current_user.email %>
                        <%= link_to edit_tweet_path(tweet), class: "level-item" do %>
                            <span class="icon"> 
                                <i class="fa fa-pencil" aria-hidden="true"></i>                             
                            </span>
                        <% end %>
                        <% else %>
                            <p class="is-hidden">u cant</p>
                        <%end %>
                        
                        <%if tweet.user.email == current_user.email %>
                                <%= link_to tweet, method: :delete, data: { confirm: "are you sure u want to delete this tweet?"} do %>
                                        <span class="icon"> 
                                        <i class="fa fa-trash-o" aria-hidden="true"></i>                             
                                        </span>  
                                <%   end    %>
                        <% else %>
                                    <p class="is-hidden">u cant</p>
                        <%end%>
                        
                        
                            <% if user_signed_in? && tweet.user_id != current_user.id  %>
                                <div><%= link_to 'Retweet', new_tweet_path(tweet_id: tweet), class: "ml-2 mr-2" %></div>
                            <% end %>
                            <% if current_user.liked? tweet %>
                                <%= link_to dislike_tweet_path(tweet.id), method: :put do %>
                                <%= image_tag("like.png", :alt => "Like", height: 18, width: 20) %>
                                <%= tweet.get_likes.size %>
                            <% end %>
                            <% else %>
                                <%= link_to like_tweet_path(tweet), method: :put do %>
                                <%= image_tag("dislike.png", :alt => "Like", height: 18, width: 20) %>
                                <%= tweet.get_likes.size %>
                            <% end %>
                             
                        <% end %>
                    </div>
                </nav>
                 <% end %>
            </div>
        </article>
    </div>
<% end %>
<%= paginate @tweets%>
</div>


   
